body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.gamePanel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

span {
    padding: 10px;
}

.score {
    display: flex;
    flex-direction: column;
}